.title {
  text-align: center;
}
.startForm > div > input::placeholder,
.startForm > div > input {
  text-align: center;
}
.informationFormError{
    text-align: center;
    color: red;
}
.informationForm{
    text-align: center;
}

.table-dark td, .table-dark th, .table-dark thead th {
  text-align: center
}
.info{
  font-size: 20px
}