@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");

* {
  background-color: rgb(27 27 27);
}

.addButton {
  margin: 5px 0px 20px 0;
}

h1,
h2 {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Modak", sans-serif;
}
h2 {
  color: white;
}
h1 {
  text-shadow: 0px 8px 6px rgba(0,0,0,0.89);
  color: #29a936;
}

p {
  margin: 40px;
  color: white;
  text-align: center;
  font-size: 27px;
  font-family: sans-serif;
  font-weight: bold;
}

.form-group > input,
.form-group > input:focus {
  border-radius: 30px;
  background-color: rgb(27 27 27);
  border: 2px solid rgba(39, 170, 54, 1);
  color: white;
  box-shadow: 1px 3px 5px 6px rgba(0,0,0,0.48);
}

.form-group > input::placeholder {
  color: #ffffffbb;
}

button {
  margin: 20px 80px !important;
  border-radius: 10px !important;
  border: 5px solid rgba(39, 170, 54, 0.8); 
  color: #29a936; 
  font-weight: bolder; 
  box-shadow: 1px 3px 5px 6px rgba(0,0,0,0.58);
}
.freemanList{
  color: rgba(39, 170, 54, 1) !important;
  background-color: rgba(39, 170, 54, 1) !important;
  width: auto !important;
  text-align: center;
}
.table-bordered {
border: 5px solid rgba(39, 170, 54, 0.8) !important; 
border-radius: 10px;
}
.table-bordered td, .table-bordered th{
  border: 5px solid rgba(39, 170, 54, 0.8) !important; 
}

.end{
  text-align: center;
}